//BigJohn
@font-face {
  font-family: "BigJohn";
  src: url("../fonts/BigJohn.otf");
}
//OpenSans
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansRegular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansSemiBold.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSansBold.ttf");
  font-weight: 600;
}

//SourceSansProLight
@font-face {
  font-family: "SourceSans";
  src: url("../fonts/SourceSansProLight.ttf");
}

//RobotoLight
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoLight.ttf");
}

//h1,h2,h3,h4,h5,p

h1 {
  font-size: $h1;
  font-family: SourceSans;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 28px;
}
h2 {
  font-size: $h2;
  font-family: BigJohn;
}

h3 {
  font-size: $h3;
  font-family: SourceSans;
  letter-spacing: 4px;
  color: $h3Color;
}
h4 {
  font-size: $h4;
  font-family: OpenSans;
  line-height: 1.7;
  letter-spacing: 1px;
}
h5 {
  font-size: $h5;
  font-family: OpenSans;
}

p {
  letter-spacing: 0.8px;
  font-size: $p;
  font-family: OpenSans;
  line-height: 1.85;
  color: $pColor;
  font-weight: 400;
}
li {
  font-size: $li;
  font-family: OpenSans;
  list-style-type: none;
  font-weight: 400;
}

label {
  font-size: $label;
  font-family: OpenSans;
}

strong {
  font-weight: 600;
}

em {
  color: $emColor;
  font-weight: 600;
}
