//Размеры шрифтов
$h1: 35px;
$h2: 25px;
$h3: 20px;
$h4: 16px;
$h5: 12px;
$p: 14px;
$button: 16px;
$label: 16px;
$li: 16px;

//max-width
$bodyWidth: 1366px;
$wrapperWidth: 1168px;
$someBlock: 840px;
$block1: 1024px;
$portfWidth: 1100px;
$classicPadding: 5px;

//colors
$white: #fff;
$headerFontColor: #ffffff;
$bg1: #ffffff;
$bg2: #f3f3f3;
$pColor: #81868e;
$h3Color: #464646;
$btn1: #333b46;
$emColor: #19bd9a;
$labelBottom: #19bd9a;
