.portfolio {
  background: $bg2;
  .block__title {
    margin-top: -5px;
  }
}

.portfolio__content {
  max-width: $portfWidth;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.content__filters {
  label {
    cursor: pointer;
  }
  padding-top: 16px;
  max-width: 580px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.label__bottom {
  // Добавляем при нажатии на label
  border-bottom: 2px solid $labelBottom;
  padding-bottom: 10px;
}
.content__grid {
  display: flex;
}
.wrap__title {
  padding-left: 30px;
  .h3Bottom {
    width: 25px;
    border-bottom: 1px solid $labelBottom;
    margin-bottom: 25px;
  }
  em {
    font-weight: 400;
  }
  h3 {
    width: 140px;
    padding-bottom: 15px;
  }
  h5 {
    margin-bottom: 20px;
  }
}
//images
.img__wrap {
  display: grid;
  transition: 0.4s;
}

.closeMe {
    display: none;
}

.img__wrap:hover {
  .wrap__image {
    img {
      transition: 0.5s;
      opacity: 0.25;
    }
  }
}

.wrap__image {
  margin: 5px;
  grid-area: 1 / 1 / 2 / 3;
  display: grid;
  img {
    z-index: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
  .image__hover {
    z-index: 0;
    grid-area: 1 / 1 / 2 / 2;
    background: black;
  }
}

.wrap__title {
  opacity: 0;
  z-index: 1;
  color: $portTitle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  grid-area: 1 / 1 / 2 / 2;
  transition: 0.5s;
}

.img__icons {
  img {
    cursor: pointer;
    width: 28px;
  }
}
